
extends layout

block content
		
	.carousel.slide(data-ride="carousel" align="center")
		.carousel-inner
			.carousel-item.active
				img(src="img/pic.jpg" width="1100" height="500")
			.carousel-item
				img(src="img/pic.jpg" width="1100" height="500")
			.carousel-item
				img(src="img/pic.jpg" width="1100" height="500")